* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

#nav-container {
  width: 100%;
  padding: 0px 15px !important;
  background-color: #ffcb08 !important;
  display: flex !important;
  justify-content: space-evenly;
  box-shadow: 0px 7px 27px 3px rgba(96, 96, 96, 0.369);
  position: sticky;
  top: 0;
  z-index: 565;
}

.nav-icon-container {
  display: flex;
  margin: 0 5px 0 48.5px;
}

.nav-icon,
.nav-icon-active {
  width: 183.5px;
  height: 65px;
  text-align: center;
  font-size: 14px;
  text-decoration: none !important;
  color: black;
  padding: 5px;
}

.nav-icon {
  background-color: rgba(255, 166, 0, 0.756);
  transition-duration: 0.7s;
}

.nav-icon-active {
  background-color: rgba(255, 132, 0, 0.842);
  color: aliceblue;
}

.nav-icon:hover {
  background-color: rgba(255, 132, 0, 0.842);
  color: aliceblue;
  transition-duration: 0.5s;
}

.nav-icon img,
.nav-icon-active img {
  width: 35px;
  height: 30px;
  margin-bottom: 5px;
}

.nav-right {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.username {
  font-weight: bolder;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

.nav-right-avatar {
  background-color: aliceblue;
  max-width: 60px;
  height: 60px;
  overflow: hidden;
  border: 4px rgb(255, 166, 0) solid;
  border-radius: 100%;
}

.nav-right-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdown-avatar {
  cursor: pointer;
  transform: scaleY(-1);
}

.dropdown-avatar-none {
  cursor: pointer;
}

.right-drop-down {
  position: fixed;
  top: 65px;
  right: 0;
  background: linear-gradient(to right, #ffaf02 0%, #ffcb08 33%, #ffcb08 100%);
  width: 320px;
  height: auto;
  border-radius: 0 0 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1000;
  font-weight: 600;
  padding: 5px 0;
}

.right-drop-down-none {
  display: none;
}

.right-drop-down img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.academic-achievement,
.setting {
  display: flex;
  width: 275px;
  align-items: center;
  background-color: rgba(214, 214, 214, 0.233);
  padding: 5px 0 5px 15px;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px#0000001b;
  cursor: pointer;
  transition-duration: 0.7s;
}

.academic-achievement:hover,
.setting:hover {
  background-color: #ffa500;
  transition-duration: 0.3s;
}

.setting-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/img/logo/admin-nav.jpg);
  background-size: cover;
}

.setting-avatar {
  width: 165px;
  height: 165px;
  background-color: white;
  overflow: hidden;
  border: 5px solid #58bd2f;
  border-radius: 100%;
}

.setting-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-edit {
  position: relative;
  top: 35px;
  left: 55px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.avatar-edit:hover {
  transition-duration: 0.2s;
  transform: scale(1.1);
}

.setting-trophy {
  position: relative;
  bottom: 25px;
  padding: 10px 35px;
  border-radius: 25px;
  background: linear-gradient(to right, #58bd2f 0%, #58bd2f 47%, #459724 100%);
  font-size: larger;
  font-weight: 700;
  color: white;
}

.setting-name-container {
  padding-left: 35px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.setting-name {
  font-size: 25px;
  font-weight: bolder;
  margin-right: 5px;
}

.setting-name-container img {
  transition-duration: 0.5s;
  cursor: pointer;
}

.setting-name-container img:hover {
  transition-duration: 0.2s;
  transform: scale(1.1);
}

.setting-level,
.setting-other {
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
}

.setting-other {
  margin: 15px 5px 25px 5px;
  border-radius: 25px;
}

.setting-login {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 15px;
  font-weight: 700;
  color: white;
  background-color: #58bd2f;
  cursor: pointer;
  border-bottom: 5px solid #2c760f;
  transition-duration: 0.5s;
}

.setting-login:hover {
  color: white;
  transition-duration: 0.1s;
  transform: translateY(-2px);
  border-bottom: 8px solid #2c760f;
}

.username-input {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.username-input input {
  padding: 5px;
  border: 4px solid #58bd2f;
  border-radius: 10px;
  outline: none;
}

@media only screen and (max-width: 993px) {
  #nav-container {
    justify-content: center;
  }

  .nav-icon-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 35px;
  }

  .nav-icon,
  .nav-icon-active {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px;
  }

  .nav-right {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }

  .right-drop-down {
    position: fixed;
    top: 60px;
    right: 0;
  }

  .username {
    margin: 0 5px;
  }
}

@media only screen and (max-width: 611px) {
  .nav-icon,
  .nav-icon-active {
    width: 165px;
  }

  .right-drop-down {
    position: fixed;
    top: 84px;
    right: 0;
  }
}

@media only screen and (max-width: 534px) {
  .right-drop-down {
    position: fixed;
    top: 96px;
    right: 0;
  }

  .username {
    font-size: 1em;
  }
}
