* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.memo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffc9084f;
  background: linear-gradient(to bottom, #fff09d 0%, #ffcf49 58%, #feb224 100%);
}

.memo-header {
  font-size: 30px;
  font-weight: 700;
  padding: 15px 55px;
  background-color: #ffcb08;
  border: solid black 3px;
  margin: 25px;
  border-radius: 25px;
}

.memo-input-container textarea {
  padding: 15px;
  outline: none;
  font-size: large;
  margin: 15px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.519);
}

.memo-input-container textarea::placeholder {
  padding-top: 15px;
  text-align: center;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.471);
}

.notes-container {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  flex-wrap: wrap;
  gap: 15px;
}

.note {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
  padding: 18px;
  margin: 15px;
  border: 1px solid orange;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.292);
  background-size: cover;
  background-image: url("/img/logo/note.jfif");
  cursor: pointer;
}

.note div {
  padding-top: 32px;
  text-align: center;
  font-weight: bold;
}

.edit-delete {
  display: flex;
  gap: 15px;
  margin-left: 105px;
}

.edit-delete div {
  padding: 8px;
  background-color: #ffcb08;
  font-weight: 700;
  border-radius: 100%;
  cursor: pointer;
}

.edit-delete div:hover {
  background-color: orange;
}

.note-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55%;
}

.complete-check {
  position: absolute;
}

.complete-check img {
  width: 55px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  padding: 5px;
  border: orange dotted 5px;
}

.complete-check-none {
  display: none;
}

.notes-guide {
  font-size: 25px;
  font-weight: 700;
  margin: 15px 0;
}

.edit-note-input input {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid black;
  outline: none;
}
